<h1>Stupid Coach</h1>
<p><%= @question.capitalize %></p>
<p>- You</p>
<br>
<p><strong><%= @answer %></strong></p>
<p>- Your coach</p>

<%= link_to "Ask again", ask_path %>


<!-- Stupid Coach
hello

- You


I don't care, get dressed and go to work!

- Your coach


Ask a new question -->
